__pycache__/
venv*/
.idea*
*.pyc
/tests/
debug_read_statistcs.py
routers-stats-fetcher.conf
logs


secret*.conf
*_debug*
*-debug*
*_test*
*-debug*/


docker/secret*
docker/env*
docker/github*
docker/*_debug*
docker/*_test*
